<div class ="row">
  <div class="col-6">
    <%= form_with(model: tasklist, local: true)do |f| %>
      <% if tasklist.errors.any? %>
        <div id="error_explanation" class="alert alert-warning">
          <ul>
            <% tasklist.errors.full_messages.each do |msg| %>
              <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
      <% end %>
    
      <div class = "form-group">
        <%= f.label :title, 'タイトル' %>
        <%= f.text_field :title, class:'form-control' %>
      </div>
      
      <div class = "form-group">
        <%= f.label :content, 'タスク'%>
        <%= f.text_field :content, class:'form-control' %>
      </div>
      
      <%= f.submit '完了', class:'btn btn-primary' %>
    <% end %>
  </div>
</div>